:root {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

body {
  margin: 0;
  background: #00C9FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  padding: 1em;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 800;
  margin: 0;
  /* -webkit-text-stroke: 1px #3b3a36; */
  color: #fff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#colorDisplay {
  font-size: 1.5em;
}

span {
  font-size: 1em;
}

.menu {
  height: 50px;
  margin: auto;
}

button {
  font-size: 1em;
  border: none;
  height: 100%;
  transition: all .3s;
  outline: none;
  color: #fff;
}

label {
  font-size: 80%;
  color: #fff;
}

#message {
  display: inline-block;
}

.selected {
  color: #3b3a36;
  background-color: #b3c2bf;
}

.row .col.m3.square {
  background-color: #b3c2bf;
  height: 8em;
  width: 30%;
  margin: 1.66667%;
  border-radius: 5%;
  transition: all .3s;
}
